<div>
<form>
<h1 class="ui header">Patient Care Report</h1>

<h2 class="ui top attached header">Demographics</h2>

<div class="ui attached segment four column grid">
        <div class="column">
            <fieldset>
                <span class="obs">Name:</span>
                <input type="text" ng-value="name[0].value">
            </fieldset>
        </div>
    
        <div class="column">
            <fieldset>
                <span class="obs">Age:</span>
                <input type="text" ng-value="age[0].value">
            </fieldset>
        </div>
    
        <div class="column">
            <fieldset>
                <span class="obs">Sex:</span>
                <input type="radio" name="sex" id="sexm" value="male" ng-model="sex">
                <label for="sexm">Male</label>
                <input type="radio" name="sex" id="sexf" value="female" ng-model="sex">
                <label for="sexf">Female</label>
            </fieldset>
        </div>

        <div class="column">
            <fieldset>
                <span class="obs">SSN:</span>
                <input type="text" ng-value="ssn[0].value">
            </fieldset>
        </div>
</div>

<h2 class="ui top attached header">Rapid Assessment</h2>

<div class="ui attached segment two column grid">
	<div class="column">
		<fieldset>
			<span class="obs">CPR:</span>
			<input type="radio" name="cpr" id="cpr1" value="yes" ng-model="cpr">
			<label for="cpr1">Yes</label>
			<input type="radio" name="cpr" id="cpr2" value="no" ng-model="cpr">
			<label for="cpr2">No</label>
		</fieldset>
	</div>

	<div class="column">
		<fieldset>
			<span class="obs">Airway:</span>
			<input type="radio" name="airway" id="air1" value="yes" ng-model="airway">
			<label for="air1">Yes</label>
			<input type="radio" name="airway" id="air2" value="no" ng-model="airway">
			<label for="air2">No</label>
		</fieldset>
	</div>

	<div class="column">
		<fieldset>
			<span class="obs">LOC:</span>
			<input type="radio" name="loc" id="loc1" value="alert" ng-model="conscious">
			<label for="loc1">Alert</label>
			<input type="radio" name="loc" id="loc2" value="verbal" ng-model="conscious">
			<label for="loc2">Verbal</label>
			<input type="radio" name="loc" id="loc3" value="pain" ng-model="conscious">
			<label for="loc3">Pain</label>
			<input type="radio" name="loc" id="loc4" value="unresponsive" ng-model="conscious">
			<label for="loc4">Unresponsive</label>
		</fieldset>
	</div>

	<div class="column">
		<fieldset>
			<span class="obs">Stroke scale:</span>
			<input type="radio" name="stroke" id="stroke1" value="no" ng-model="strok">
			<label for="stroke1">N/A</label>
			<input type="radio" name="stroke" id="stroke2" value="facial drop" ng-model="strok">
			<label for="stroke2">Facial drop</label>
			<input type="radio" name="stroke" id="stroke3" value="arm drift" ng-model="strok">
			<label for="stroke3">Arm drift</label>
			<input type="radio" name="stroke" id="stroke4" value="speech impaired" ng-model="strok">
			<label for="stroke4">Speech impaired</label>
		</fieldset>
	</div>
	
	<div class="column">
		<fieldset>
			<span class="obs">Pupils:</span>
			<input type="radio" name="pupils" id="pupils1" value="normal" ng-model="pup">
			<label for="pupils1">Normal</label>
			<input type="radio" name="pupils" id="pupils2" value="constricted" ng-model="pup">
			<label for="pupils2">Constricted</label>
			<input type="radio" name="pupils" id="pupils3" value="dilated" ng-model="pup">
			<label for="pupils3">Dilated</label>
			<input type="radio" name="pupils" id="pupils4" value="no reaction" ng-model="pup">
			<label for="pupils4">No reaction</label>
		</fieldset>
	</div>

	<div class="column">
			<fieldset>
				<span class="obs">Injury:</span>
				<input type="radio" name="injury" id="inj1" value="no" ng-model="injury">
				<label for="inj1">None</label>
				<input type="radio" name="injury" id="inj2" value="blunt" ng-model="injury">
				<label for="inj2">Blunt</label>
				<input type="radio" name="injury" id="inj3" value="penetrating" ng-model="injury">
				<label for="inj3">Penetrating</label>
				<input type="radio" name="injury" id="inj4" value="burn" ng-model="injury">
				<label for="inj4">Burn</label>
			</fieldset>
	</div>

</div>

<div class="ui one column grid container">
	<div class="column">
		<table id="vitals" class="ui celled padded table">
				<thead>
					<th width="25%">Date/Time</th>
					<th width="18%">BP</th>
					<th width="18%">Pulse</th>
					<th width="18%">Respiratory Rate</th>
					<th width="18%">Oximetry (%)</th>
				</thead>
				<tr ng-repeat="item in vitals">
					<td>{{item.date | date:'medium'}}</td>
					<td ng-class="{'error': (item.bps-0) > 139, 'warning': (item.bps-0) < 99 && (item.bps-0) != 0}"><i ng-class="{'arrow up icon': (item.bps-0) > 139, 'arrow down icon': (item.bps-0) < 99 && (item.bps-0) != 0}"></i>{{!item.bps ? "" : (item.bps + " / " + item.bpd)}}</td>
					<td ng-class="{'error': (item.pr-0) > 100, 'warning': (item.pr-0) < 50 && (item.pr-0) != 0}"><i ng-class="{'arrow up icon': (item.pr-0) > 100, 'arrow down icon': (item.pr-0) < 50 && (item.pr-0) != 0}"></i>{{item.pr}}</td>
					<td ng-class="{'error': (item.rr-0) > 20, 'warning': (item.rr-0) < 12 && (item.rr-0) != 0}"><i ng-class="{'arrow up icon': (item.rr-0) > 20, 'arrow down icon': (item.rr-0) < 12 && (item.rr-0) != 0}"></i>{{item.rr}}</td>
					<td ng-class="{'warning': (item.ox-0) < 82 && (item.ox-0) != 0}"><i ng-class="{'arrow down icon': (item.ox-0) < 82 && (item.ox-0) != 0}"></i>{{item.ox}}</td>
				</tr>
			</table>
	</div>
</div>


<div class="ui attached segment one column grid">
	<div class="column">
		<fieldset>
			<span class="obs">Past Medical History:</span>
                    	<textarea rows="3" cols="80"></textarea>{{histjoin}} {{histjoin.value}} {{histjoin[0].value}} {{histjoin[0]}}
		</fieldset>
	</div>
	<div class="column">
		<fieldset>
			<span class="obs">Medications:</span>
			<textarea rows="3" cols="80">{{med[0].medication}}</textarea>
		</fieldset>
	</div>
	<div class="column">
		<fieldset>
			<span class="obs">Allergies:</span>
			<textarea rows="3" cols="80">{{allergy[0].allergies}}</textarea>
		</fieldset>
	</div>
	<div class="column">
		<fieldset>
			<span class="obs">Treatment:</span>
			<textarea rows="3" cols="80">{{treat[0].treatment}}</textarea>
		</fieldset>
	</div>
</div>


</form>

</div>
