<form>
	<fieldset id="form_loc">
		<h3>LOC:</h3>
		<input type="radio" name="loc" id="loc1" value="alert" ng-model="conscious">
      	<label for="loc1">Alert</label>
		<input type="radio" name="loc" id="loc2" value="verbal" ng-model="conscious">
      	<label for="loc2">Verbal</label>
 		<input type="radio" name="loc" id="loc3" value="pain" ng-model="conscious">
      	<label for="loc3">Pain</label>
		<input type="radio" name="loc" id="loc4" value="unresponsive" ng-model="conscious">
      	<label for="loc4">Unresponsive</label>
    </fieldset>
</form>

VITAL SIGNS

<ul ng-repeat="item in data">
    <p>Key: {{item.key}}</p>
    <br>
    <p>Value: {{item.value}}</p>
</ul>

<table id="vitals">
	<thead>
		<td width="10%">Date/Time</td>
		<td width="30%">BP</td>
		<td width="30%">Pulse Rate</td>
		<td width="30%">Respiratory Rate</td>
	</thead>
	<tr ng-repeat="item in data">
		<td>{{item.date | date:'medium'}}</td>
		<td>{{item.bp}}</td>
		<td>{{item.pr}}</td>
		<td>{{item.rr}}</td>
	</tr>

</table>
